In [1]:
import pandas as pd
import glob

In [48]:
clean_TAC_files = glob.glob('../acceweka-ds/bar-crawl/*_clean_TAC.csv')
df_list = []
for name in clean_TAC_files:
    df_label = pd.read_csv(name)
    pid = name.split('/')[-1][:6]
    df_label['pid'] = pid
    df_list.append(df_label)

df_label = pd.concat(df_list)
df_label['timestamp'] = df_label['timestamp'] * 1000
df_data = pd.read_csv('../acceweka-ds/bar-crawl/Bar_Crawl.csv')
df_data = df_data.rename(columns={'time':'timestamp'})
df = pd.merge_asof(df_data, df_label.sort_values('timestamp'), on='timestamp', by='pid', direction='nearest')

In [52]:
df.to_csv('../acceweka-ds/bar-crawl/Bar_Crawl_Labeled.csv', index=False)

In [59]:
df['label'] = df['label'].astype(int)

In [60]:
df.head()

       timestamp     pid       x       y       z  TAC_Reading  label
0              0  JB3156  0.0000  0.0000  0.0000     0.002387      0
1              0  CC6740  0.0000  0.0000  0.0000     0.003947      0
2  1493733882409  SA0297  0.0758  0.0273 -0.0102     0.032672      0
3  1493733882455  SA0297 -0.0359  0.0794  0.0037     0.032672      0
4  1493733882500  SA0297 -0.2427 -0.0861 -0.0163     0.032672      0

In [61]:
df['label']

3399189

In [62]:
len(df['label'])

14057567

In [64]:
df[['timestamp','pid','x','y','z','label']].to_csv('../acceweka-ds/bar-crawl/Bar_Crawl_Labeled.csv', index=False)

In [65]:
df = pd.read_csv('../acceweka-ds/physical/6xor_64bit/train_6xor_64dim.csv', header=None)

In [66]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,1,1,-1,1,-1,-1,-1,1,1,-1,...,1,1,1,1,1,1,1,1,-1,1
1,-1,1,1,1,1,1,1,1,-1,-1,...,-1,1,-1,1,-1,1,1,-1,1,-1
2,-1,-1,1,1,-1,1,1,1,1,-1,...,1,-1,1,-1,1,-1,-1,-1,1,1
3,1,-1,-1,1,-1,1,1,1,-1,1,...,1,-1,1,-1,1,-1,-1,1,-1,-1
4,1,1,1,-1,-1,-1,-1,1,1,-1,...,-1,1,-1,1,-1,1,-1,-1,1,1

In [67]:
df.to_csv('../acceweka-ds/physical/6xor_64bit/train_6xor_64dim.csv', index=False)

In [68]:
df = pd.read_csv('../acceweka-ds/physical/6xor_64bit/test_6xor_64dim.csv', header=None)

In [69]:
df.to_csv('../acceweka-ds/physical/6xor_64bit/test_6xor_64dim.csv', index=False)

In [74]:
df = pd.read_csv('../acceweka-ds/PAMAP2/PAMAP2_Dataset/Protocol/subject101.dat', header=None, delimiter=' ')

In [75]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,8.38,0,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,...,0.008300,0.009250,-0.017580,-61.1888,-38.9599,-58.1438,1.0,0.0,0.0,0.0
1,8.39,0,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,...,-0.006577,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0
2,8.40,0,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,...,0.003014,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0
3,8.41,0,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,...,0.003175,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0
4,8.42,0,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,...,0.012698,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0

In [76]:
df[1].unique()

array([ 0,  1,  2,  3, 17, 16, 12, 13,  4,  7,  6,  5, 24])

In [79]:
df_data_list = []
data_files = glob.glob('../acceweka-ds/PAMAP2/PAMAP2_Dataset/Protocol/*.dat')
for file_name in data_files:
    df = pd.read_csv(file_name, header=None, delimiter=' ')
    df_data_list.append(df)

In [80]:
df = pd.concat(df_data_list)

In [81]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,8.38,0,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,...,0.008300,0.009250,-0.017580,-61.1888,-38.9599,-58.1438,1.0,0.0,0.0,0.0
1,8.39,0,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,...,-0.006577,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0
2,8.40,0,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,...,0.003014,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0
3,8.41,0,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,...,0.003175,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0
4,8.42,0,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,...,0.012698,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0

In [82]:
df['label'] = df[1]

In [83]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,label
0,8.38,0,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,...,0.009250,-0.017580,-61.1888,-38.9599,-58.1438,1.0,0.0,0.0,0.0,0
1,8.39,0,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,...,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0,0
2,8.40,0,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,...,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0,0
3,8.41,0,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,...,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0,0
4,8.42,0,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,...,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0,0

In [89]:
c = df.columns.tolist()

In [90]:
c.remove(1)

In [93]:
df[c].to_csv('../acceweka-ds/PAMAP2/PAMAP2_Dataset/Protocol/PAMAP2_Protocol.csv', index=False)

In [94]:
df = pd.read_csv('../acceweka-ds/PAMAP2/PAMAP2_Dataset/Protocol/PAMAP2_Protocol.csv', header=None)

In [95]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,8.38,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,-0.092217,...,0.009250,-0.017580,-61.1888,-38.9599,-58.1438,1.0,0.0,0.0,0.0,0
1,8.39,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,-0.024413,...,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0,0
2,8.40,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,-0.057976,...,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0,0
3,8.41,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,-0.002352,...,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0,0
4,8.42,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,0.012269,...,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0,0

In [96]:
df.to_csv('../acceweka-ds/PAMAP2/PAMAP2_Dataset/Protocol/PAMAP2_Protocol.csv', index=False)

In [2]:
df = pd.read_csv('../acceweka-ds/PAMAP2/PAMAP2_Dataset/Protocol/PAMAP2_Protocol.csv')

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,44,45,46,47,48,49,50,51,52,53
0,8.38,104.0,30.0,2.37223,8.60074,3.51048,2.43954,8.76165,3.35465,-0.092217,...,0.009250,-0.017580,-61.1888,-38.9599,-58.1438,1.0,0.0,0.0,0.0,0
1,8.39,NaN,30.0,2.18837,8.56560,3.66179,2.39494,8.55081,3.64207,-0.024413,...,-0.004638,0.000368,-59.8479,-38.8919,-58.5253,1.0,0.0,0.0,0.0,0
2,8.40,NaN,30.0,2.37357,8.60107,3.54898,2.30514,8.53644,3.73280,-0.057976,...,0.000148,0.022495,-60.7361,-39.4138,-58.3999,1.0,0.0,0.0,0.0,0
3,8.41,NaN,30.0,2.07473,8.52853,3.66021,2.33528,8.53622,3.73277,-0.002352,...,-0.020301,0.011275,-60.4091,-38.7635,-58.3956,1.0,0.0,0.0,0.0,0
4,8.42,NaN,30.0,2.22936,8.83122,3.70000,2.23055,8.59741,3.76295,0.012269,...,-0.014303,-0.002823,-61.5199,-39.3879,-58.2694,1.0,0.0,0.0,0.0,0

In [10]:
df = df.ffill()

In [13]:
df.to_csv('../acceweka-ds/PAMAP2/PAMAP2_Dataset/Protocol/PAMAP2_Protocol.csv', index=False)

In [2]:
df = pd.read_csv('../acceweka-ds/PAMAP2/PAMAP2_Dataset/Protocol/PAMAP2_Protocol.csv')

In [5]:
df['53'].unique()

array([ 0,  1,  2,  3, 17, 16, 12, 13,  4,  7,  6,  5, 24])